*{
margin: 0px;
padding: 0px;
}
html, body{	
	font-family: 'Open Sans', sans-serif;
}
.container{	
	background: orange;
	padding-top:3px;	
}
.nav-div{	
	background: #e9e9e9;
	padding-bottom: 15px;
	padding-top: 14px;
	padding-left: 4px;
}
.nav-div li{	
	display: inline;	
}
.nav-div li a{
    padding-left:4px;
	padding-right:4px;
	color:black;	
}
#sticky-top-nav a:hover {
	padding-top:15px;
	padding-bottom:15px;
	padding-left:4px;
	padding-right:4px;
	
    background-color: #454545;
	color:orange;
}
#sticky-top-nav li{}
#sticky-top-nav li a{	
	list-style-type: none;
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 0px;
}
.body-main{
	background: #ffffff;
}
#jegyzet-div li a:hover{   
	color:blue;
}